<!DOCTYPE html>
<html>
  <head>
    <title>GoogleMapsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>David Matins' Google Map</h1>
    <!-- Div to display google map. -->
    <div id="gmap" style="width:100%;height:60vh;"></div>
    <br>
    <!-- Starting Address label and text input. -->
    <div class="form-group">
      <label class="control-label col-md-2">Starting Address:</label>
        <div class="input-group col-md-4">
          <input class="form-control" type="text" id="start">
        </div>
    </div>
    <!-- Destination Address label and text input. -->
    <div class="form-group">
      <label class="control-label col-md-2">Destination Address:</label>
        <div class="input-group col-md-4">
          <input class="form-control" type="text" id="destination">
        </div>
    </div>
    <!-- This button calls the routeMap function to display a route between the two text input addresses.-->
    <div class="form-group input-group col-md-1">
          <button type="button" class="btn btn-primary pull-right" onclick="routeMap()">Find Route</button>
    </div>
    <script>
      // Initializes the map variables.
      function initializeMap(){
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsService = new google.maps.DirectionsService();
        startSearchBox = new google.maps.places.SearchBox(document.getElementById('start'));
        destinationSearchBox = new google.maps.places.SearchBox(document.getElementById('destination'));
        infowindow2 = new google.maps.InfoWindow();

        var options= {
          center:new google.maps.LatLng(35.113281,-106.621216),
          zoom:12,
        };
        map = new google.maps.Map(document.getElementById("gmap"),options);
        directionsDisplay.setMap(map);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          startSearchBox.setBounds(map.getBounds());
          destinationSearchBox.setBounds(map.getBounds());
        });
      }
      // Maps a route using the start and destination text input.
      function routeMap(){
      	var start = startSearchBox.getPlaces()["0"].formatted_address;
        var destination = destinationSearchBox.getPlaces()["0"].formatted_address;
        if(start != null && destination != null){
          var request = {
            origin: start,
            destination: destination,
            travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(result);
              var step = result.routes[0].legs[0].steps[Math.floor(result.routes[0].legs[0].steps.length/2)];
              var leg = result.routes[0].legs[0];
              infowindow2.setContent('Estimated travel time: ' + leg.duration.text + "<br> Distance: " + leg.distance.text + " ");
              infowindow2.setPosition(step.end_location);
              infowindow2.open(map);
            } else {
              alert("couldn't get directions:" + status);
            } 
          });
        } else {
        	alert("address entered couldn't be parsed.");
        }
      }
    </script>
    <!-- Get google maps source from key that only works for http://localhost:3000/-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCyqC01VJDXaBpbKOd5lQRFGO2batX0Q4&callback=initializeMap&libraries=places"></script> 
  </body>
</html>
